.questions{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* border: 2px solid red; */
}

.answerOptions{
  margin: .45rem;
}

.seperateList {
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: .5rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1rem;
}